<div class="col blog-card"  >
  <div class="card shadow-sm">
    <img src= <%= imgSrc %> class = "img-thumbnail img-fluid banner" alt= <%= title %>>
    <div class="card-body">
      <p class="card-text"><%= title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary view-blog"
            id = <%= bid %>
            >
            View
          </button>
        </div>
        <small class="text-body-secondary"><%= date %></small>
      </div>
    </div>
  </div>
</div>
